@inject IJSRuntime JSRuntime

<div class="mt-4">
    <form class="d-flex">
        <input id="proxiesSearchInput" class="form-control me-2" type="search" placeholder="Search proxies" @bind="searchQuery" />
        <button class="btn btn-outline-success" type="button" @onclick="SelectProxy" disabled="@IsSelectButtonDisabled">Select</button>
    </form>
</div>

@code {
    [CascadingParameter]
    public List<Proxy> Proxies { get; set; }
    [Parameter]
    public EventCallback<Proxy> OnSelectProxy { get; set; }
    private string searchQuery;
    private bool IsSelectButtonDisabled => string.IsNullOrEmpty(searchQuery) || !Proxies.Select(p => p.Name).ToList().Any(p => p == searchQuery);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("searchInterop.initializeTypeaheadForScripts", "proxiesSearchInput", Proxies.Select(p => p.Name).ToList());
        }
    }

    public async Task UpdateSearchQuery(string query)
    {
        searchQuery = query;
        StateHasChanged();
    }

    private async Task SelectProxy()
    {
        var proxy = Proxies.FirstOrDefault(p => p.Name == searchQuery);
        await OnSelectProxy.InvokeAsync(proxy);
    }
}