@page "/map"
@inject IJSRuntime JS

<div id="map" style="height: 100vh;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeMap", "map", "images/maps/0/{x}/{y}.jpg", 250, 16, 13);
        }
    }
}