<div class="col-12 text-center">
    <h1>Récap Total</h1>
</div>
<div class="center-container">
    <h5>Total Kamas : @Convert.ToDouble(TotalKamas).ToString("N0")</h5>
    <div class="image-container">
        <img src="/images/Kama.webp" style="max-width:25px;max-height:25px;margin-left:-5px;margin-bottom:9px;" />
    </div>
</div>
<div class="row row-cols-1 row-cols-md-1 mx-auto" style="max-width:50%">
    @if (Bots == null)
    {

    }
    else
    {
        @foreach (IEnumerable<Bot> botsByServer in Bots.Where(m => m.Server != 0).GroupBy(b => b.Server))
        {
            var serverName = botsByServer.First().Server.ToString();
            var totalKamasByServer = botsByServer.Select(m => m.Inventories.Sum(i => i.Kamas)).Sum();
            <div class="row border-primary mb-3">
                <div class="col">
                    <CascadingValue Value="@botsByServer">
                        <_ServerRecap ServerName="@serverName" Kamas="@Convert.ToDouble(totalKamasByServer).ToString("N0")"></_ServerRecap>
                    </CascadingValue>
                </div>
            </div>
        }
    }
</div>



@code {
    [Parameter]
    public IEnumerable<Bot>? Bots { get; set; }
    [Parameter]
    public int? TotalKamas { get; set; }

    protected override void OnInitialized()
    {

    }
}