@inherits LayoutComponentBase

<PageTitle>OnlyBot</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="container">
            @Body
        </div>
    </div>
</div>
