<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (Bot bot in Bots!)
    {
        <div class="col">
            <CascadingValue Value="@bot">
                <_BotCard></_BotCard>
            </CascadingValue>
        </div>
    }
</div>

@code {
    [CascadingParameter]
    public IEnumerable<Bot>? Bots { get; set; }
}