@page "/Test"
@inject IConfiguration Configuration
@inject IBotRepository _botRepository
@implements IAsyncDisposable
@inject NavigationManager Navigation

@foreach (var bot in Bots)
{
            <p>@bot.Name</p>
}

@code {
    List<Bot> Bots = new List<Bot>();
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        Bots = await _botRepository.GetAllBots();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/botshub"))
            .Build();

        hubConnection.On<List<Bot>>("RefreshBots", bots =>
        {
            Bots = bots;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}